<?xml version="1.0"?>
<config>
    <modules>
        <Max_CatalogProductUpdateAttributesMultiStore>
            <version>0.0.1</version>
        </Max_CatalogProductUpdateAttributesMultiStore>
    </modules>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <catalogProductUpdateAttributesMultiStore_observer>
                        <class>catalogProductUpdateAttributesMultiStore/observer</class>
                        <method>addButtonsInProductsGrid</method>
                    </catalogProductUpdateAttributesMultiStore_observer>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
        </events>
    </adminhtml>
    <default>
        <catalog>
            <update_attributes_multi_store>
                <disable_core_update_attributes>1</disable_core_update_attributes>
            </update_attributes_multi_store>
        </catalog>
    </default>
    <global>
        <helpers>
            <catalogProductUpdateAttributesMultiStore>
                <class>Max_CatalogProductUpdateAttributesMultiStore_Helper</class>
            </catalogProductUpdateAttributesMultiStore>
        </helpers>
        <models>
            <catalogProductUpdateAttributesMultiStore>
                <class>Max_CatalogProductUpdateAttributesMultiStore_Model</class>
            </catalogProductUpdateAttributesMultiStore>
        </models>
    </global>
</config>
