<?xml version="1.0"?>
<config>
    <modules>
        <Max_CatalogProductUpdateAttributesMultiStore>
            <version>0.0.1</version>
        </Max_CatalogProductUpdateAttributesMultiStore>
    </modules>
    <global>
        <helpers>
            <customerCreateFromOrder>
                <class>Max_CatalogProductUpdateAttributesMultiStore_Helper</class>
            </customerCreateFromOrder>
        </helpers>
        <models>
            <customerCreateFromOrder>
                <class>Max_CatalogProductUpdateAttributesMultiStore_Model</class>
            </customerCreateFromOrder>
        </models>
    </global>
</config>
